* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
   
}

/* contentuti header sx */
.container-header{
    display: flex;
    width:100%;
    align-items:center;
    padding:5px;

    
}

.left-side{
    display: flex;
   
}

.logo-small{
    width: 80px;;
}   

ul{
    display: flex;
}

li{
    list-style: none;
    font-size:15px;
    padding:0 10px;
}

a{
    text-decoration: none;
    color:black;
    
}
/* contenuti header dx */

.right-side{
    display: flex;
    padding: 10px 15px;
    flex-basis: 45%;
}

.nav-right{
    display: flex;

}
    
.blue-button{
    background-color:#0061fe ;
    font-size: 10px;
    padding: 10px 10px;
    color:white;
}
/* contenuto principale  */
#jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4d0e6;
    padding:80px;
    
}

.hero{
    flex-basis: 100%;
    padding-top: 50px;
    padding-right:50px;
    
      
}

.main-title{
    color:black;
    font-size:40px;
    margin-bottom: 5%;
}

/* contenitore testo sx e img */
.middle-container{
    display: flex;
    
}


.text-container{
flex-basis: 50%;
}

.prova-button{
    width:30%;
}

.p{
line-height: 25px;
text-align: start ;
}

.Annulla{
    margin-top:20px;

}

.img-container{
    flex-basis: 50%;
}

.jumbo-img{
    height: 300px;
}

/* parte con colonne verticali */

.central-container{
    width:50%;
    margin:50px auto;
    padding-top:20px;
}

.h2{
font-size: 30px;
}

ul{
    padding: 5px;
}

li{
    font-size: 10px;
}

/* colonne */
.columns-container{
    display: flex;
    flex-wrap:wrap;
    padding:80px 80px;
    width:100%;
}

.left-column{
    width:30%;
    margin-bottom:80px;

}


.middle-column{
    width:30%;
    margin-bottom:80px;

}

.right-column{
    width:30%;
    margin-bottom:80px;

}

.header-column{
    border:1px solid black;
}

.content{
    display: flex;
    padding:20px;
    border:1px solid black;
    flex-direction: column;

}

.time{
    color:#b5b5b5;
    
}

.offer{
    display: flex;
    flex-direction: column;
}

.offer li{
    display: flex;
    margin:5px;
    font-size:12px;

}

.offer span{
    margin-left:5px;
}

.punti-salienti{
    font-size:10px;
    margin-top: 20px;
}

.check{
    display: flex;
    flex-direction: column;
}

.punti-salienti li{
    display: flex;
    margin:5px;
    font-size:12px;
}

/* enterprise */
.container-enterprise{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:40px;
    height:100%;
 
}
.enterprise{
    width:60%;
    position: relative;
    height:100%;
    border:1px solid #d0cfd4;
}

#team{
    text-align: center;
}

h3{
    padding:10px;
}

h5{
    padding:10px;
}
#big-button-enterprise{
    position: absolute;
    top:20%;
    right:0%;
    background-color: #0061fe;
    padding:5px 15px;
    color:white;
    text-align:center;
    margin:0 20px;

}
/* partner */
.container-partner{
    display: flex;
    justify-content: center;
    padding:40px;
      
}

#container-img{ 
    flex-basis:40%;

}

#container-text{
    flex-basis:20%;
    padding:20px; 
}

p{
    padding:10px;
}
#img-partner{
    width:100%
}

#button-white{
    color: black;
    border: 1px solid black;
    margin:30px;
    padding:5px;
}

/* operazioni */
.operation-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}

.operation-block{
    width:25%;
    height:100%;
     
} 

.operation-block .block{
    width:100%;
}

h4{
    font-size:30px;
    padding:60px;
    text-align: center;
}



















